.env
.env.*
.venv
env/
venv/
*.local

node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

target/
*.jar
*.war
.gitattributes

__pycache__/
*.py[cod]
*$py.class
temp_receipts/
.ipynb_checkpoints/
notebooks/

logs/
*.log

.idea/
.vscode/
*.iml
.DS_Store